/* Styles pour l'animation du chevron */
@keyframes rotateUp {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
  
  @keyframes rotateDown {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
 
  /* Styles pour les icônes de chevron */
  .chevron-icon {
  
    &.rotateUp {
      animation: rotateUp 0.5s;
    }
  
    &.rotateDown {
      animation: rotateDown 0.5s;
    }
  }
  
//   .collapse-header {
//   display: flex;
//   justify-content: space-between; /* Place le contenu à l'extrémité */
//   align-items: center; /* Centre le contenu verticalement */
// }

// .title-collapse {
//   background-color: #ff6060; /* Arrière-plan du titre du Collapse */
//   padding: 10px;
//   border-radius: 10px;
//   color: #ffffff;
//   transition: background-color 0.3s ease;
//   flex-grow: 1; /* Le titre prendra l'espace disponible */
//   margin-right: 10px; /* Ajoute un espace entre le titre et le chevron */
// }

// .chevron-icon-container {
//   flex-shrink: 0; /* Empêche le chevron de rétrécir */
// }
