// /* Styles pour l'animation du chevron */
@keyframes rotateUp {
    0% {
      transform: rotate(0deg);
    }
    
  }
  
  @keyframes rotateDown {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
 
  /* Styles pour les icônes de chevron */
  .chevron-icon {
  
    &.rotateUp {
      animation: rotateUp 0.5s;
    }
  
    &.rotateDown {
      animation: rotateDown 0.5s;
    }
  }

  .collapse-title {
    font-weight: normal;
  }

  .collapse-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #FF6060;
  border-radius: 10px;
  padding: 15px;
  color: #FFFF;
}

.content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.content-collapse.open {
  max-height: 800px; /* Ajustez la hauteur maximale selon vos besoins */
}