// Header.scss

$header-color: #FF6060; // Définissez vos variables SASS si nécessaire

header {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

nav {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
  gap: 2rem;
}

header a {
  color: $header-color; 
}

/***************Mobile************/

@media screen and (min-width: 320px) and (max-width:768px) {

    

    /************Header************/

    header {
        display: flex;
        flex-direction: row;
        margin: 25px;
    }

    .logo-responsive {
      width: 90%;
    }


    nav {
        justify-content: flex-end;
    }

    nav ul {
      align-items: center;
      gap: 1rem;
    }

    .ulNav a {
        text-transform: uppercase;
    }
}