#presentation {
  display: flex;
  flex-direction: column;
}
h1{
  margin: 50px;
}
.sections-container {
  display: flex;
  align-items: center;
  margin: 50px;
}
.sectionPresentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.description {
  font-size: 1.3rem;
  color: #ff6060;
  cursor: pointer;
}

article {
  display: flex;
  margin: 0 30px 0 30px;
}

.localisation {
  color: #ff6060;
}

.avantages {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.liAvantages {
  padding: 2px 20px 2px 20px;
  border-radius: 40px;
  background-color: #ff6060;
  color: #f6f6f6;
}

.menu-description {
  width: 90%;
  cursor: pointer;
  background-color: #ff6060;
  border-radius: 10px;
  color: #ffffff;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Ajout d'overflow pour le contenu caché */
}

.menu-description.active {
  background-color: grey;
}
.collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  height: 40px;
}
.collapse .chevron-icon-container {
margin: 0 1rem 2rem 0;
}

.sectionEquipements {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  align-items: flex-end;
  height: 100%;
}

.container-host {
  display: flex;
  gap: 1rem;
}

.host-info {
  display: flex;
  flex-direction: column;
}
.host-name {
  color: #FF6060;
  font-size: 1.2rem;
  
}

.host-lastname {
  color: #FF6060;
  font-size: 1.2rem;
}
.host-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover; 
}

.menu-roll {
  max-height: 800px; /* Le contenu est initialement caché */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Ajout de transition pour la hauteur et le padding */
}
.menu-description.active .menu-roll {
  max-height: 800px;
  padding: 10px 20px 10px 15px;
}
