#presentation {
  display: flex;
  flex-direction: column;
}

.banner-cont {
  margin: 50px;
}

.sections-container {
  display: flex;
  margin: 50px;
}
.sectionPresentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.description {
  font-size: 1.3rem;
  color: #ff6060;
  cursor: pointer;
}

article {
  display: flex;
  margin: 0 30px 0 30px;
}

.localisation {
  color: #ff6060;
}

.avantages {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.liAvantages {
  padding: 2px 20px 2px 20px;
  border-radius: 40px;
  background-color: #ff6060;
  color: #f6f6f6;
}

.menu-description {
  width: 90%;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f6f6f6;
  transition: background-color 0.3s ease;
  overflow: hidden; 
}

.menu-description.active {
  background-color: #f6f6f6;
}

.contenuMargin {
  margin: 15px;
  color: #FF6060;
  font-size: 1rem;
}

.sectionEquipements {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.2rem;
  align-items: flex-end;
  height: 100%;
}

.container-host {
  display: flex;
  gap: 1rem;
}

.host-info {
  display: flex;
  flex-direction: column;
}
.host-name {
  color: #FF6060;
  font-size: 1.2rem;
  
}

.host-lastname {
  color: #FF6060;
  font-size: 1.2rem;
}
.host-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover; 
}

.rating-stars {
  display: flex;
  align-items: center; /* Alignez les étoiles verticalement avec le nom de l'hôte */
  gap: 4px; /* Espace entre les étoiles */
}

/* Styles pour les étoiles pleines */
.star-solid {
  color: #FF6060;
  font-size: 1rem;
}

/* Styles pour les étoiles vides */
.star-regular {
  color: #E3E3E3;
  font-size: 1rem;
}



@media screen and (max-width: 768px) {

  .banner-cont {
    margin: 15px;
  }

  .sections-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 0.5rem;
  }
  .description {
    margin: 0;
  }
  .sectionPresentation {
    width: 100%;
  }

  .sectionEquipements {
    width: 100%;
  }
  .liAvantages {
    padding: 4px 4px 4px 4px;
  }
  
}
